.idea
vendor
!web/public/vendor/bootstrap
shared
log
storage
composer.phar
composer.lock
composer.json
.composer/
web/public/admin
web/public/assets
web/public/admin
web/public/launchpad
web/public/web-core
web/shared
id_deploy
test.php
test.sh
src/Platform/*.moved
*.moved.php
*.setdev-on
