a, a:hover, a:active, a:focus, input::-moz-focus-inner {
	outline: 0;
}

h2.headline {
	border-bottom: 1px solid #ddd;
	margin-top:    25px;
	margin-bottom: 50px;
}

.admin-content {
	background: url(../images/bg-initial-light.png) 50% 0 no-repeat;
}

.tabbable .nav li a i {
	margin-left:  5px;
	margin-right: 5px;
}

label.error {
	color:       darkred;
	padding-top: 0;
	margin-top:  -10px;
	font-size:   10pt;
	display:     block;
}
