* {
	outline:      none !important;
	-moz-outline: none !important;
}

body {
	font-family: 'Open-Sans', 'Arial', sans-serif;
	font-weight: normal;
}

img#logo-img {
	margin-top:   5px;
	margin-right: 15px;
	float:        left;
	height:       32px;
}

h4 {
	border-bottom: 1px solid #ddd;
}

h2.headline {
	border-bottom: 1px solid #ddd;
	margin-top:    25px;
	margin-bottom: 50px;
}

.main-content {
	height:     640px;
	font-size:  18px !important;
	background: url(../images/bg-initial-light.png) 50% 0 no-repeat;
}

.main-content.step2 {
	height:     640px;
	font-size:  18px !important;
	background: url(../images/bg-initial-light.png) 100% 50% no-repeat;
}

.main-content p {
	font-size: 18px;
	width:     450px;
}

.main-content .spacer {
	height:        1px;
	width:         1px;
	margin-bottom: 25px;
}

.main-content label {
	font-size: 16px;
}

.main-content.step1 .form-actions {
	margin-top: 160px;
}

.main-content footer p {
	width: 960px;
}

.light {
	background: url(../images/bg-initial-light.png) 50% 0 no-repeat;
	height:     640px;
}

label.error {
	color:       darkred;
	padding-top: 0;
	margin-top:  -10px;
	font-size:   10pt;
	display:     block;
}

.admin-content {
	background: url(../images/bg-initial-light.png) 50% 0 no-repeat;
}

.tabbable .nav li a i {
	margin-left:  5px;
	margin-right: 5px;
}

.space200 {
	width:   1px;
	height:  200px;
	display: block;
}

.space50 {
	width:   1px;
	height:  50px;
	display: block;
}