IndexIgnore */*
RewriteEngine on
RewriteBase /

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^rest/([_0-9a-z-/.\s]*) /api/rest/index.php/$1 [NC,L] # Handle REST requests
RewriteRule ^soap/([_0-9a-z-/.\s]+) /api/soap/index.php/$1 [NC,L] # Handle SOAP requests
RewriteRule ^apps/(.+) /applications/index.php/$1 [NC,L] # Handle requests for application files in blob storage
RewriteRule ^lib/(.+) /libraries/index.php/$1 [NC,L] # Handle requests for library files in blob storage

# otherwise forward it to index.php
RewriteRule . index.php
