<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
        <rules>
            <rule name="Rewrite to REST handler" stopProcessing="true">
                <match url="^rest/([_0-9a-z-/. ]*)" />
                <action type="Rewrite" url="/api/rest/index.php/{R:1}" />
            </rule>
            <rule name="Rewrite to SOAP handler" stopProcessing="true">
                <match url="^soap/([_0-9a-z-/. ]+)" />
                <action type="Rewrite" url="/api/soap/index.php/{R:1}" />
            </rule>
            <rule name="Rewrite to application file handler" stopProcessing="true">
                <match url="^apps/([_0-9a-z-/. ]+)" />
                <action type="Rewrite" url="/applications/index.php/{R:1}" />
            </rule>
            <rule name="Rewrite to library file handler" stopProcessing="true">
                <match url="^lib/([_0-9a-z-/. ]+)" />
                <action type="Rewrite" url="/libraries/index.php/{R:1}" />
            </rule>
        </rules>
    </rewrite>
  </system.webServer>
</configuration>