<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
        <rules>
            <rule name="Rewrite to REST handler" stopProcessing="true">
                <match url="^REST/([_0-9a-z-/. ]*)" />
                <action type="Rewrite" url="/protected/API/REST/index.php/{R:1}" />
            </rule>
            <rule name="Rewrite to SOAP handler" stopProcessing="true">
                <match url="^SOAP/([_0-9a-z-/. ]+)" />
                <action type="Rewrite" url="/protected/API/SOAP/index.php/{R:1}" />
            </rule>
            <rule name="Rewrite to App handler" stopProcessing="true">
                <match url="^Apps/([_0-9a-z-/. ]+)" />
                <action type="Rewrite" url="/protected/Apps/index.php/{R:1}" />
            </rule>
            <rule name="Rewrite to Lib handler" stopProcessing="true">
                <match url="^lib/([_0-9a-z-/. ]+)" />
                <action type="Rewrite" url="/protected/libraries/index.php/{R:1}" />
            </rule>
        </rules>
    </rewrite>
  </system.webServer>
</configuration>